*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", monospace;
}

.container{
    position: relative;
    display: inline-block;
}

.health-bar{
    position:absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.health{
    background-color: red; 
    height: 30px; 
    width: 100%;
}

.parent{
    position: relative; 
    /* height: 30px;  */
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.parent-p{
    border-left: 4px solid white;
}

.parent-e{
    border-right: 4px solid white;
}

.playerHealth{
    position: absolute; 
    background: #818cf8; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
}

.enemyHealth{
    position: absolute; 
    background: #818cf8; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

.timer{
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;  
}


#result-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: none;
}

.result{
    color: white;
}

#btn{
    color: #bd81f8;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.6rem 1rem; 
    transition: all .3s;
}

#btn:active{
    transform: scale(.92);
}

#play-btn{
    position:absolute;
    right: 10px;
    bottom: 5px;
}